project_id   = "your-project-id"
region       = "your-region"
zone         = "your-zone"
cluster_name = "your-cluster-name"

account_id   = "your-account-id"

db_pool_name     = "your-db-pool-name"
db_node_count    = 2
db_machine_type  = "your-db-machine-type"
db_disk_size     = 20
db_disk_type     = "your-db-disk-type"
